/* global rules */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/****************************** 
*** header start  
******************************/
header nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 12px;
}

.searchInput {
  border: none;
  outline: none;
  background-color: transparent;
}

.searchInputs::placeholder {
  color: lightgray;
}

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
  margin-bottom: 30px;
}

/****************************** 
*** slider section  
******************************/
.slider {
  background-image: url(../img/slider-bg.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.slideWrapper {
  display: flex;
  width: 500vw;
}

.sliderItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderTitel {
  position: absolute;
  top: 10%;
  right: 10%;
  color: white;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  font-size: 60px;
  text-align: center;
  border: 1px solid gray;
  padding: 8px;
}

.slideBg {
  width: 750px;
  height: 750px;
  position: absolute;
  border-radius: 50%;
}

.sliderImg {
  z-index: 1;
}

.buyNow {
  position: absolute;
  height: 80px;
  bottom: 10%;
  right: 10%;
  color: white;
  font-size: 30px;
  text-align: center;
  border: 1px solid gray;
  background-color: black;
  padding: 8px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.4s ease;
}

.buyNow:hover {
  background-color: white;
  color: black;
}

.sliderItem:nth-child(1) .slideBg {
  background-color: #369e62;
}

.sliderItem:nth-child(2) .slideBg {
  background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .slideBg {
  background-color: teal;
}

.sliderItem:nth-child(4) .slideBg {
  background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .slideBg {
  background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}

.sliderItem:nth-child(2) .sliderPrice {
  color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}

.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderPrice {
  color: rgb(124, 115, 80);
}

/****************************** 
*** feature section  
******************************/
.featuresContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.featuer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}

/****************************** 
*** product section  
******************************/
#product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  padding-top: 60px;
}

.productImg {
  width: 50%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle {
  font-size: 75px;
  font-weight: 900;
  margin-bottom: 50px;
}

.productDesc {
  color: gray;
  font-size: 20px;
  margin: 10px 0;
}

.colors,
.sizes {
  display: flex;
  margin: 20px 0;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  background-color: black;
}

.color:last-of-type {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  cursor: pointer;
  margin-right: 10px;
  font-size: 20px;
}

.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.productButton:hover {
  background-color: white;
  color: black;
}

/* payment modal */
.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  display: none;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 13px 2px rgba(90, 90, 90, 0.3);
}

.payTitle {
  font-size: 20px;
  color: lightgray;
}

.payment label {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

.payInput {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: lightgray;
}

.payInput:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.cardInfo .payInput.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: -40px;
  width: 100%;
  left: 0;
  box-shadow: 0 0 13px 2px rgba(90, 90, 90, 0.3);
  border: none;
  background-color: #369e62;
  color: white;
  cursor: pointer;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/****************************** 
*** gallery section  
******************************/
#gallery {
  padding: 50px;
  display: flex;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}

.galleryImg {
  width: 100%;
}

/****************************** 
*** new sesson section  
******************************/
#newSesson {
  display: flex;
}

.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsImg {
  width: 100%;
  height: 500px;
}

.nsTitle {
  font-size: 40px;
}

.nsButton {
  cursor: pointer;
  padding: 15px;
  font-weight: 600;
}

/****************************** 
*** footer  
******************************/
footer {
  display: flex;
}

.leftSide {
  flex: 6;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font-size: 16px;
  margin: 10px 0;
}

.fMenuList {
  list-style: none;
  padding: 0;
}

.ListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.rightSide {
  flex: 6;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput {
  padding: 5px;
}

.fbutton {
  padding: 5px;
  background-color: black;
  color: white;
}

.fIcons {
  display: flex;
}

.fIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyRight {
  color: gray;
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
}

/****************************** 
*** Responsive  
******************************/
@media screen and (max-width: 1200px) {
  /* section:not(:nth-child(6)) {
    display: none !important;
  } */

  nav {
    padding: 20px;
  }

  .navBottom {
    flex-wrap: wrap;
  }

  .menuItem {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  .slider {
    clip-path: none;
  }

  .sliderImg {
    width: 90%;
  }

  .slideBg {
    width: 100%;
    height: 100%;
  }

  .sliderTitel {
    display: none;
  }

  .sliderPrice {
    top: unset;
    bottom: 0;
    left: 0;
    background-color: lightgray;
  }

  .buyNow {
    right: 0;
    top: 0;
  }

  #product {
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 450px;
  }

  .productDetails {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .payment {
    width: 90%;
    padding: 20px;
  }

  .productTitle {
    font-size: 50px;
    margin: 0;
  }

  .productImg {
    width: 80%;
  }

  #gallery {
    display: none;
  }

  #newSesson {
    flex-direction: row;
    position: relative;
  }

  .nsItem:nth-child(2) {
    padding: 50px;
  }

  footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  footer .leftSide,
  footer .rightSide {
    padding: 20px;
    flex: 12;
    width: 90%;
  }

  .rightSide {
    align-items: center;
    background-color: whitesmoke;
  }
}

@media screen and (max-width: 770px) {


  nav {
    padding: 20px;
  }

  .search {
    display: none;
  }

  .navBottom {
    flex-wrap: wrap;
  }

  .menuItem {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  .slider {
    clip-path: none;
  }

  .sliderImg {
    width: 90%;
  }

  .slideBg {
    width: 100%;
    height: 100%;
  }

  .sliderTitel {
    display: none;
  }

  .sliderPrice {
    top: unset;
    bottom: 0;
    left: 0;
    background-color: lightgray;
  }

  .buyNow {
    right: 0;
    top: 0;
  }

  #product {
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 450px;
  }

  .productDetails {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .payment {
    width: 90%;
    padding: 20px;
  }

  .productTitle {
    font-size: 50px;
    margin: 0;
  }

  .productImg {
    width: 80%;
  }

  #gallery {
    display: none;
  }

  #newSesson {
    flex-direction: row;
    position: relative;
  }

  .nsItem:nth-child(2) {
    padding: 50px;
  }

  footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  footer .leftSide,
  footer .rightSide {
    padding: 20px;
    flex: 12;
    width: 90%;
  }

  .rightSide {
    align-items: center;
    background-color: whitesmoke;
  }
}

@media screen and (max-width: 480px) {


  nav {
    padding: 20px;
  }

  .navTop {
    flex-wrap: wrap;
  }

  .search {
    display: none;
  }

  .navBottom {
    flex-wrap: wrap;
  }

  .menuItem {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  .slider {
    clip-path: none;
  }

  .sliderImg {
    width: 90%;
  }

  .slideBg {
    width: 100%;
    height: 100%;
  }

  .sliderTitel {
    display: none;
  }

  .sliderPrice {
    top: unset;
    bottom: 0;
    left: 0;
    background-color: lightgray;
  }

  .buyNow {
    right: 0;
    top: 0;
  }

  .featuresContainer {
    flex-direction: column;
  }

  #product {
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productDetails {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .payment {
    width: 90%;
    padding: 20px;
  }

  .productTitle {
    font-size: 50px;
    margin: 0;
  }

  .productImg {
    width: 80%;
  }

  #gallery {
    display: none;
  }

  #newSesson {
    flex-direction: column;
  }

  .nsItem:nth-child(2) {
    padding: 50px;
  }

  footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  footer .leftSide,
  footer .rightSide {
    padding: 20px;
    flex: 12;
    width: 90%;
  }

  .rightSide {
    align-items: center;
    background-color: whitesmoke;
  }
}
