/* Global rules */
:root {
  --mainColor: #4b8ef1;
  --textColor: #000;
  --lightText: rgba(105, 105, 105, 0.4);
  --gradient: linear-gradient(
    105deg,
    rgba(91, 104, 235, 1) 0%,
    rgba(40, 225, 253, 1) 100%
  );
  --sectionPadding: 100px 0;
  --sectionMargin: 100px 0;
}

body {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-right: 10px;
}

.line {
  width: 25px;
  height: 2px;
  background-color: var(--mainColor);
  margin: 30px 3px;
}

span {
  color: var(--mainColor);
}

.btn:focus {
  box-shadow: none;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-size: 30px;
}

.title p {
  font-size: 15px;
  width: 50%;
  text-align: center;
  line-height: 2;
  color: var(--lightText);
}

/************************** 
*** header section 
***************************/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  background-color: transparent;
  border-bottom: 1px solid rgba(92, 92, 92, 0.15);
  padding: 25px 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .btn {
  background: var(--gradient);
  border-radius: 30px;
  outline: none;
  border: none;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.btn i {
  width: max-content;
  flex: 1;
}

.btn i,
.btn a {
  color: white;
  font-weight: bold;
  font-size: 15px !important;
}

/************************** 
*** hero section 
***************************/
#hero {
  position: relative;
}

#hero img {
  width: 70%;
  object-fit: cover;
  background-attachment: fixed;
}

#hero .leftSide,
#hero .rightSide {
  position: absolute;
  top: 40%;
  width: 45%;
}

#hero .rightSide {
  right: -5%;
  top: 30%;
  width: 50%;
}

#hero .rightSide img {
  width: 80%;
  object-fit: cover;
}

#hero .leftSide h1 {
  font-size: 55px;
  line-height: 1.5;
  font-weight: 700;
  width: 80%;
}

#hero .leftSide p {
  margin: 30px 0;
  width: 80%;
}

#hero .leftSide .buttons button {
  display: inline;
  background-color: var(--mainColor);
  color: white;
  margin-right: 20px;
  border-radius: 20px;
  padding: 10px;
}

/************************** 
*** services section 
***************************/
#services {
  position: relative;
  padding: var(--sectionPadding);
}

#services .container {
  padding: 0 10px;
}

#services .background img {
  position: absolute;
  top: 0;
  left: 10%;
  object-fit: cover;
  width: 90%;
  z-index: -1;
}

#services .title ul {
  display: flex;
}

#services .cardsContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
}

#services .cardsContainer .serviceCard {
  border-top-right-radius: 25%;
  margin: 15px;
  border: 1px solid rgba(80, 80, 80, 0.2);
  box-shadow: 0px 0px 15px rgba(80, 80, 80, 0.2);
  transition: all 0.4s ease;
  overflow: hidden;
  width: 22%;
}

#services .cardsContainer .serviceCard:hover {
  background-image: url(../img/service-bg.jpg);
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.4s ease;
  color: white;
}

#services .cardsContainer .serviceCard .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#services .cardsContainer .serviceCard:hover,
#services .cardsContainer .serviceCard:hover p,
#services .cardsContainer .serviceCard:hover a {
  color: white;
  transition: all 0.4s ease;
}

#services .icon {
  z-index: 2;
}

#services .icon img {
  width: 50px;
  height: 50px;
  display: none;
  top: 20px;
  left: 20px;
  margin: 20px;
}

#services .icon img:first-child {
  display: block;
}

#services .cardsContainer .serviceCard:hover img:first-child {
  display: none;
}

#services .cardsContainer .serviceCard:hover img:last-child {
  display: block;
}

#services .cardsContainer .serviceCard h2 {
  font-size: 18px;
  margin: 20px;
  font-weight: 700;
  z-index: 2;
}

#services .cardsContainer .serviceCard p {
  color: var(--lightText);
  z-index: 2;
  width: 80%;
  margin: 20px;
}

#services .serviceCard a {
  text-decoration: underline;
  color: var(--mainColor);
  z-index: 2;
  margin: 20px;
}

#services .bottomBackground {
  margin-top: -80px;
}

@media (max-width: 1200px) {
  #services .serviceCard {
    width: 45% !important;
  }
}

@media (max-width: 760px) {
  #services .serviceCard {
    width: 100% !important;
  }
}

/************************** 
*** about section 
***************************/
#about {
  padding: var(--sectionPadding);
  position: relative;
}

#about .rightColumn .backgroundImg {
  position: absolute;
  top: -18%;
  right: 8%;
  z-index: -1;
  width: 55%;
}

#about .rightColumn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#about .leftColumn {
  margin: 50px 0;
}

#about .leftColumn .features {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0;
}

#about .leftColumn p {
  color: var(--lightText);
}

#about .leftColumn .features .feature {
  background-color: white;
  width: 48%;
  border-radius: 50px;
  border: 1px solid rgba(82, 82, 82, 0.2);
  box-shadow: 0px 0px 15px rgba(80, 80, 80, 0.2);
  padding: 15px;
  margin: 15px 0;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about .features .feature h2 {
  font-size: 18px;
  font-weight: 700;
}
#about .features .feature p {
  font-size: 15px;
  color: var(--lightText);
  margin-bottom: 0;
}

#about .leftColumn .features .feature a {
  color: #000;
}

#about .leftColumn .btn {
  display: block;
  background: var(--gradient) !important;
  padding: 20px;
  border-radius: 50px;
}

#about .leftColumn .btn p {
  font-weight: 300;
  color: white;
  margin-bottom: 0;
}

#about .leftColumn label {
  color: var(--lightText);
}

/************************** 
*** testimonial section 
***************************/
#testimonial {
  padding: var(--sectionPadding);
}

#testimonial .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

#testimonial .title p {
  width: 50%;
  text-align: center;
  color: var(--lightText);
}

#testimonial .leftSide {
  padding-right: 30px;
}

#testimonial .leftSide .comment a {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 30px 0;
  color: #000;
}
#testimonial .leftSide .info {
  margin-right: 20px;
  width: 100%;
}
#testimonial .leftSide .job {
  text-align: left;
  width: 100%;
}

#testimonial .leftSide .active a h3,
#testimonial .leftSide .active a p:nth-child(3) {
  color: var(--mainColor);
}

#testimonial .leftSide .comment a p {
  color: var(--lightText);
}

#testimonial .rightSide {
  padding-left: 30px;
}

#testimonial .rightSide .commentDetails {
  position: relative;
  width: 100%;
  border-radius: 50px;
  background-image: url(../img/client-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px;
  font-size: 15px;
  color: white;
}

#testimonial .rightSide .commentDetails img {
  display: block;
  margin-bottom: 50px;
}

#testimonial .rightSide .person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

#testimonial .rightSide .person img {
  border-radius: 50%;
}

#testimonial .rightSide .person .info {
  flex: 1;
  margin-left: 30px;
}

/************************** 
*** pricing section 
***************************/
#pricing {
  padding: 100px 0 50px;
}

#pricing .priceCard ul {
  flex-direction: column;
  margin-top: 20px;
}

#pricing .priceCard ul li {
  margin: 15px 0;
  color: var(--mainColor);
  text-decoration: underline;
}

#pricing .priceCard {
  position: relative;
  border-radius: 50px;
  margin-top: 100px;
  border: 1px solid rgba(90, 90, 90, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  transform: scale(0.9);
  transition: all 0.3s ease;
}

#pricing .priceCard:hover {
  transform: scale(1);
  transition: all 0.3s ease;
}

#pricing .priceCard .price {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 40px;
  color: white;
}

#pricing .priceCard h1 {
  margin: 100px 0 50px;
  font-size: 30px;
  font-weight: 700;
}

#pricing .priceCard .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all 0.3s ease;
}

#pricing .priceCard:hover .overlay {
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

#pricing .priceCard .throw {
  text-decoration: line-through;
  color: var(--lightText);
}

#pricing .priceCard h1,
#pricing .priceCard h1 + img,
#pricing .priceCard ul,
#pricing .priceCard button {
  z-index: 5;
}

#pricing .priceCard button a {
  color: var(--mainColor);
  margin: 0;
  padding: 0;
}

#pricing .priceCard button {
  margin: 50px 0;
  border-radius: 30px;
}

#pricing .priceCard button:hover {
  background-color: var(--mainColor);
}

#pricing .priceCard button:hover a {
  color: white;
}

#pricing .priceCard .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 20px;
  z-index: -1;
}

#pricing .priceCard .bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  border-bottom-right-radius: 20px;
  z-index: -1;
}

#pricing .priceCard .top img,
#pricing .priceCard .bottom img {
  width: 100%;
}

@media (max-width: 990px) {
  #pricing .priceCard {
    display: flex !important;
    flex-wrap: wrap !important;
  }
}

/************************** 
*** footer section 
***************************/
footer {
  padding-top: 250px;
  background-image: url(../img/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

footer .title {
  text-align: center;
  color: white;
}

footer .title .subscribe {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}

footer .title input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent !important;
  width: 48%;
  color: white !important;
}

footer .title input::placeholder {
  color: white !important;
}

footer .title .subscribe button {
  border-radius: 50px;
  flex: 1;
  margin-left: 20px;
  width: 48%;
}

footer .title .subscribe button:hover {
  color: var(--mainColor);
}

footer .title input:focus,
footer .title input:focus::placeholder {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid white;
}

footer .link {
  color: white;
  margin-top: 50px;
  padding-right: 20px;
}

footer .linkList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .link ul {
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

footer .linkList ul {
  width: 48%;
}

footer .link ul li {
  margin: 5px 0;
}

footer .link ul li a {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

footer .link ul li a:hover {
  color: rgba(255, 255, 255, 0.199);
  transition: all 0.3s ease;
}

footer .link h2 {
  font-size: 25px;
  font-weight: 700;
}

footer .link img {
  margin: 20px 0;
}

@media (max-width: 991px) {
  footer .title .subscribe {
    flex-direction: column;
  }

  footer .title .subscribe input,
  footer .title .subscribe button {
    width: 100%;
    background-color: white !important;
    margin: 10px 0;
    color: var(--mainColor) !important;
    border: 1px solid rgba(59, 59, 59, 0.445);
    border-radius: 50px;
  }

  footer .title .subscribe input::placeholder {
    color: var(--mainColor) !important;
  }

  footer .title h1 {
    color: black;
    width: 50%;
    font-weight: 700;
  }

  footer .linkList ul {
    width: 100%;
  }
}
